*:focus {
	outline: none;
}

.input {
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: 1.5vw;
	border: none;
	outline: none;
	resize: none;
}

.airport {
	padding-top: .5vw;
	padding-bottom: .5vw;
}

.input-output {
	background-color: white;
	height: 15vw;
}

.output {
	margin-top: 5vw;
	font-size: 2vw;
}

body {
	background-color: #efefef;
}

pre {
	background-color: white;
	border: none;
	text-align: center;
	height: 100%;
}

h1 {
	font-size: 2.75vw;
}
